In [1]:
import numpy as np
import pandas as pd

In [6]:
data_path = './data/ratings.csv'
dtype = {"userId": np.int32, "movieId": np.int32, "rating": np.float32}

In [8]:
ratings = pd.read_csv(data_path, dtype=dtype, usecols=range(3))

In [39]:
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [10]:
ratings_matrix = ratings.pivot_table(index=["userId"], columns=["movieId"],values="rating")

In [13]:
ratings_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
user_similar = ratings_matrix.T.corr()

In [16]:
user_similar.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,NaN,0.079819,0.207983,0.268749,-0.291636,-0.118773,0.469668,0.918559,-0.037987,...,0.091574,0.000000,-0.061503,-0.407556,-0.164871,0.066378,0.174557,0.268070,-0.175412,-0.032086
2,NaN,1.0,NaN,NaN,NaN,NaN,-0.991241,NaN,NaN,0.037796,...,-0.387347,NaN,-1.000000,NaN,NaN,0.583333,NaN,-0.125000,NaN,0.623288
3,0.079819,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.433200,NaN,NaN,-0.791334,-0.333333,-0.395092,NaN,0.569562
4,0.207983,NaN,NaN,1.000000,-0.336525,0.148498,0.542861,0.117851,NaN,0.485794,...,-0.222113,0.396641,0.090090,-0.080296,0.400124,0.144603,0.116518,-0.170501,-0.277350,-0.043786
5,0.268749,NaN,NaN,-0.336525,1.000000,0.043166,0.158114,0.028347,NaN,-0.777714,...,0.000000,0.153303,0.234743,0.067791,-0.364156,0.244321,0.231080,-0.020546,0.384111,0.040582

In [17]:
user_similar[1].head()

userId
1    1.000000
2         NaN
3    0.079819
4    0.207983
5    0.268749
Name: 1, dtype: float64

In [22]:
similar_users  = user_similar[1].drop([1]).dropna()

In [23]:
similar_users.head()

userId
3    0.079819
4    0.207983
5    0.268749
6   -0.291636
7   -0.118773
Name: 1, dtype: float64

In [27]:
similar_users[similar_users>0]

userId
3    0.079819
4    0.207983
5    0.268749
8    0.469668
9    0.918559
Name: 1, dtype: float64

In [29]:
similar_users = similar_users.where(similar_users>0).dropna()

In [34]:
ratings_matrix[1].head()

userId
1    4.0
2    NaN
3    NaN
4    NaN
5    4.0
Name: 1, dtype: float32

In [33]:
set(ratings_matrix[1].dropna().index)

{1,
 5,
 7,
 15,
 17,
 18,
 19,
 21,
 27,
 31,
 32,
 33,
 40,
 43,
 44,
 45,
 46,
 50,
 54,
 57,
 63,
 64,
 66,
 68,
 71,
 73,
 76,
 78,
 82,
 86,
 89,
 90,
 91,
 93,
 96,
 98,
 103,
 107,
 112,
 119,
 121,
 124,
 130,
 132,
 134,
 135,
 137,
 140,
 141,
 144,
 145,
 151,
 153,
 155,
 156,
 159,
 160,
 161,
 166,
 167,
 169,
 171,
 177,
 178,
 179,
 182,
 185,
 186,
 191,
 193,
 200,
 201,
 202,
 206,
 213,
 214,
 216,
 217,
 219,
 220,
 223,
 226,
 229,
 232,
 233,
 234,
 239,
 240,
 247,
 249,
 252,
 254,
 263,
 264,
 266,
 269,
 270,
 273,
 274,
 275,
 276,
 277,
 279,
 280,
 282,
 283,
 288,
 290,
 291,
 292,
 293,
 298,
 304,
 307,
 314,
 322,
 323,
 328,
 330,
 332,
 334,
 336,
 337,
 339,
 341,
 347,
 350,
 353,
 357,
 359,
 364,
 367,
 372,
 373,
 378,
 380,
 381,
 382,
 385,
 389,
 391,
 396,
 399,
 401,
 411,
 412,
 414,
 420,
 422,
 432,
 434,
 436,
 438,
 443,
 448,
 451,
 453,
 456,
 460,
 462,
 468,
 469,
 470,
 471,
 474,
 476,
 477,
 480,
 483,
 484,
 488,
 490,
 492,
 500,
 504,
 509,
 514,
 517,
 522,
 524,
 525,
 528,
 529,
 533,
 534,
 541,
 544,
 550,
 555,
 559,
 560,
 561,
 562,
 567,
 570,
 572,
 573,
 579,
 580,
 584,
 587,
 590,
 596,
 597,
 599,
 600,
 601,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610}

In [35]:
ids = set(ratings_matrix[1].dropna().index)&set(similar_users.index)

In [36]:
finally_similar_users = similar_users.loc[list(ids)]

In [37]:
finally_similar_users.head()

userId
514    0.047894
517    0.080181
5      0.268749
522    0.046613
524    0.384955
Name: 1, dtype: float64

In [38]:
numerator = 0    # 评分预测公式的分子部分的值
denominator = 0    # 评分预测公式的分母部分的值
for sim_uid, similarity in finally_similar_users.iteritems():
    # 近邻用户的评分数据
    sim_user_rated_movies = ratings_matrix.loc[sim_uid].dropna()
    # 近邻用户对iid物品的评分
    sim_user_rating_for_item = sim_user_rated_movies[1]
    # 计算分子的值
    numerator += similarity * sim_user_rating_for_item
    # 计算分母的值
    denominator += similarity 
# 4 计算预测的评分值
predict_rating = numerator/denominator
print("预测出用户<%d>对电影<%d>的评分：%0.2f" % (1, 1, predict_rating))

预测出用户<1>对电影<1>的评分：3.87

In [40]:
users = ["User1", "User2", "User3", "User4", "User5"]
items = ["Item A", "Item B", "Item C", "Item D", "Item E"]
# 用户购买记录数据集
datasets = [
    [1,0,1,1,0],
    [1,0,0,1,1],
    [1,0,1,0,0],
    [0,1,0,1,1],
    [1,1,1,0,1],
]
import pandas as pd

df = pd.DataFrame(datasets,
                  columns=items,
                  index=users)
print(df)

       Item A  Item B  Item C  Item D  Item E
User1       1       0       1       1       0
User2       1       0       0       1       1
User3       1       0       1       0       0
User4       0       1       0       1       1
User5       1       1       1       0       1

In [43]:
df

       Item A  Item B  Item C  Item D  Item E
User1       1       0       1       1       0
User2       1       0       0       1       1
User3       1       0       1       0       0
User4       0       1       0       1       1
User5       1       1       1       0       1

In [41]:
from sklearn.metrics import jaccard_similarity_score

In [47]:
df["Item B"]

User1    0
User2    0
User3    0
User4    1
User5    1
Name: Item B, dtype: int64

In [48]:
jaccard_similarity_score(df["Item A"], df["Item C"])

0.8

In [44]:
jaccard_similarity_score(df["Item B"], df["Item C"])

0.4

In [45]:
from sklearn.metrics.pairwise import pairwise_distances
# 计算用户间相似度
user_similar = 1 - pairwise_distances(df, metric="jaccard")
user_similar = pd.DataFrame(user_similar, columns=users, index=users)
print("用户之间的两两相似度：")
print(user_similar)

用户之间的两两相似度：
          User1  User2     User3  User4  User5
User1  1.000000   0.50  0.666667    0.2    0.4
User2  0.500000   1.00  0.250000    0.5    0.4
User3  0.666667   0.25  1.000000    0.0    0.5
User4  0.200000   0.50  0.000000    1.0    0.4
User5  0.400000   0.40  0.500000    0.4    1.0

c:\program files\python36\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to bool by check_pairwise_arrays.
  warnings.warn(msg, DataConversionWarning)